@import './styles/config';
@import './styles/media';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik:wght@700&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

body {
	background-color: $background-color;
	font-family: 'Rubik', sans-serif;
}

header {
	background-color: $header-background-color;
}

svg {
	fill: $primary-color;
}

.card-container {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	text-align: center;
}

.card {
	border-radius: 20px;
	border: none;

	.form-heading {
		width: 100%;
		height: 80px;
		background-color: $tertiary-color;
		color: $primary-color;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border: none;
	}

	.form-group {
		padding: 20px 20px 0px 20px;
	}

	.big-btn {
		width: 100%;
		height: 80px;
		background-color: $secondary-color;
		color: $primary-color;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border: none;
	}
}
